%h1
  =@player.full_name
  %small.text-muted="#{@player.position_friendly}, #{@player.team.full_name}"

%ul.pagination
  %li.page-item
    %a.page-link{href: "?season=#{@years.first}"} &laquo;
  - @years.select{|x| (x - @season).abs <= 3}.each do |year|
    %li{class: year == @season ? 'page-item active' : 'page-item'}
      %a.page-link{href: "?season=#{year}"}=year
  %li.page-item
    %a.page-link{href: "?season=#{@years.last}"} &raquo;

.row
  .col-xs-4.number-container
    .number#pps=@summary_stats[:pps].round(2)
    .number-label
      points per shot
  .col-xs-4.number-container
    .number#offensive-delta=(@summary_stats[:offensive_delta] * 100).round(1)
    .number-label
      offensive impact (points per 100 shots)
  .col-xs-4.number-container
    .number#defensive-delta=(@summary_stats[:defensive_delta] * 100).round(1)
    .number-label
      defensive impact (points per 100 shots)

.row
  .col-sm-12
    %h2 Shooting
  #player-viz-container.col-sm-12.col-md-6{style: 'min-height: 300px'}
    %svg#player-viz{style: 'width:100%'}
  #distance-viz-container.col-sm-12.col-md-6{style: 'min-height: 300px'}
    %svg#distance-viz{style:'width:100%;height:100%'}
  #gametime-viz-container.col-sm-12.col-md-6{style: 'min-height: 300px'}
    %svg#gametime-viz{style:'width:100%'}
  #over-season-viz-container.col-sm-12.col-md-6{style: 'min-height: 300px'}
    %svg#over-season-viz{style:'width:100%'}
.row
  .col-sm-12
    %h2 Offensive Impact
  #team-viz-container{style: 'min-height: 600px'}
    .col-sm-12.col-md-8.col-md-offset-2{style: 'position:relative'}
      %h3.text-center Overall
      %svg#team-overall-impact-viz{style: 'width: 100%'}
    .col-sm-12.col-md-6{style: 'position:relative'}
      %h3.text-center Accuracy
      %svg#team-accuracy-impact-viz{style: 'width: 100%'}
    .col-sm-12.col-md-6{style: 'position:relative'}
      %h3.text-center Shot Selection
      %svg#team-selection-impact-viz{style: 'width: 100%'}
.row
  .col-sm-12
    %h2 Defensive Impact
  #opposing-team-viz-container{style: 'min-height: 600px'}
    .col-sm-12.col-md-8.col-md-offset-2{style: 'position:relative'}
      %h3.text-center Overall
      %svg#opposing-team-overall-impact-viz{style: 'width: 100%'}
    .col-sm-12.col-md-6{style: 'position:relative'}
      %h3.text-center Accuracy
      %svg#opposing-team-accuracy-impact-viz{style: 'width: 100%'}
    .col-sm-12.col-md-6{style: 'position:relative'}
      %h3.text-center Shot Selection
      %svg#opposing-team-selection-impact-viz{style: 'width: 100%'}
- content_for(:js) do
  :javascript
    $(document).on('turbolinks:load', function() {
      $(window).unbind('scroll');
      // Shooting section
      callWhenScrolledTo(getPlayerShotChart, $('#player-viz'));
      callWhenScrolledTo(getDistanceChart, $('#distance-viz'));
      callWhenScrolledTo(getGameTimeChart, $('#gametime-viz'));
      callWhenScrolledTo(getSeasonChart, $('#over-season-viz'));
      // Offense section
      callWhenScrolledTo(getTeamCharts, $('#team-viz-container'));
      // Defense section
      callWhenScrolledTo(getOpposingTeamCharts, $('#opposing-team-viz-container'));

      setUpSummaryStats();
    });
